<% @page_title = "Login" %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
      <h1>Login</h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <%= form_tag do %>
            <div class="form-group">
              <%= text_field_tag :username, nil, class: 'form-control input-lg', :placeholder => 'Username' %>
            </div>
            <div class="form-group">
              <%= password_field_tag :password, nil, class: 'form-control input-lg', :placeholder => 'Password' %>
            </div>
            <div class="form-group">
              <%= label_tag :remember_me do %>
                <%= check_box_tag :remember_me, class: 'form-control' %> Remember me

              <% end %>
            </div>

            <%= submit_tag 'Login', class: 'btn btn-lg btn-default' %>
            <%= link_to 'Forgot password?', 'google.com' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

